package components

templ Component() {
	{{
	ch := templ.GetChildren(ctx)
	hasChildren := ch != nil
	var text string
	if hasChildren {
		text = "I have children! Here they are:"
	} else {
		text = "I don't have children."
	}
	}}
	<p>{ text }</p>
	<div>
		{ children... }
	</div>
}

templ Index() {
	<h1>Childless</h1>
	@Component()
	<h1>Childful</h1>
	@Component() {
		<div>Child 1</div>
		<div>Child 2</div>
		<div>Child 3</div>
	}
}
